@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
       
       html{
              font-family: "Bree Serif", serif;
       }
    
       .navbar{
        font-family: "Bree Serif", serif;
       }

       .box{
              font-family: "Bree Serif", serif;
       }

       
}